Repository MrSeaWave/chinese-holidays: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -w, npm run lint:fix

.lintstagedrc.json:

{
  "*.{json,css,md}": ["prettier -w"],
  "*.js": ["prettier -w", "npm run lint:fix"]
}

feat: fix #110
  src/core/holidays.js
Due: prettier -w, npm run lint:fix

chore: update pre-release script
  package.json
  scripts/pre-release.mjs
  yarn.lock
Due: prettier -w

docs: update changelog
  CHANGELOG.md
Due: prettier -w

chore: modify script
  package.json
Due: prettier -w

chore(release): publish v0.0.2
  package.json
Due: prettier -w

fix: 修复跨年节假日的判断
  src/core/holidays.js
Due: prettier -w, npm run lint:fix

feat: use ts & pnpm
  .eslintrc
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc.json
  .npmpackagejsonlintrc.json
  babel.config.js
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/core/config.ts
  src/core/holidays-info.ts
  src/core/holidays-util.ts
  src/core/index.js
  src/core/request.ts
  src/core/utils.ts
  src/index.js
  src/index.ts
  tsconfig.eslint.json
  tsconfig.json
Due: prettier -w, npm run lint:fix

feat: modify test
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/core/config.ts
  src/core/holidays-info.ts
  src/core/utils.test.ts
  src/index.test.ts
  vitest.config.ts
  yarn.lock
Due: prettier -w, npm run lint:fix

feat: modify build config
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
  rollup.config.js
  rollup.config.mjs
  src/core/config.ts
  src/core/holidays-util.ts
  tsconfig.json
Due: prettier -w, npm run lint:fix

feat: modify build config
  package.json
  pnpm-lock.yaml
  rollup.config.mjs
  src/index.ts
  tsconfig.json
Due: prettier -w

chore: update
  rollup.config.mjs
Due: none

chore: use changeset
  .changeset/README.md
  .changeset/config.json
  package.json
  pnpm-lock.yaml
Due: prettier -w

chore: update publish
  .github/workflows/auto-publish.yml
  .github/workflows/publish.yml.bak
  .github/workflows/tests.yml
  package.json
Due: prettier -w

chore: update changeset
  .changeset/silly-eggs-rescue.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/tests.yml
Due: prettier -w

feat: add build script
  package.json
Due: prettier -w

docs: update
  .changeset/beige-rats-sin.md
Due: prettier -w

feat: temp
  src/index.ts
Due: none

feat: update
  .github/workflows/auto-publish.yml
  src/index.ts
Due: none

feat: update
  .changeset/six-carrots-turn.md
  src/index.ts
Due: prettier -w

chore: update
  .github/workflows/auto-publish.yml
  src/index.ts
Due: none

docs: update
  .changeset/good-buttons-hunt.md
Due: prettier -w

chore: modify release script
  .changeset/config.json
  .github/workflows/auto-publish.yml
  package.json
Due: prettier -w

docs: update changeset
  .changeset/mean-buses-laugh.md
Due: prettier -w

chore: update canary
  .github/workflows/canary.yml
Due: none

chore: update tz
  .github/workflows/canary.yml
Due: none

feat: use Holidays to modify base config (#122)
  README.md
  src/core/apis.ts
  src/core/holidays-info.ts
  src/core/holidays-util.ts
  src/core/request.ts
  src/core/type-utils.ts
  src/index.test.ts
Due: prettier -w

docs: update
  .changeset/famous-chefs-walk.md
  src/core/request.ts
Due: prettier -w

chore: upgrade pnpm version
  eslint.config.mjs
  package.json
Due: prettier -w

chore: modify github workflow
  .github/workflows/auto-publish.yml
  .github/workflows/canary.yml
  .github/workflows/lint.yml
  .github/workflows/tests.yml
Due: none

chore: modify order
  .github/workflows/lint.yml
Due: none

chore: add changelog
  .changeset/slimy-peaches-sleep.md
Due: prettier -w

chore: uprade github workflow for test
  .github/workflows/tests.yml
Due: none

feat: add concurrent
  src/core/apis.ts
  src/core/holidays-info.ts
  src/index.test.ts
Due: none

docs: update
  .changeset/full-times-camp.md
Due: prettier -w

feat: add test
  src/index.test.ts
Due: none
